*{
padding:0;
margin:0;
border-width:0;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.header{
    text-align: center;
    font-size: 40px;
    display: flex;
    align-items: center;
}
h1{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    color: #27272a;

}

.biography{
    margin-top: 5px;
    margin-bottom: 10px;
    background-color:#fca5a5;
    border: 7px solid white;
    padding: 10px;
}
p{
    color: #27272a;
    font-size: x-large;
}
#profilePic{
    display: block;
    margin-right:auto;
}
body{
    background: rgb(255,205,178);
background: linear-gradient(180deg, rgba(255,205,178,1) 0%, rgba(229,152,155,1) 50%, rgba(157,129,137,1) 100%);
}
img{
    border: 7px solid white;
    border-radius: 100px;
}
#email{
    margin-left: 50px;
}
#gitHub{
    margin-left: 50px;
}
#location{
    margin-left: 50px;
}
#project1{
text-align:center;
margin: 10px;
padding: 5px;
border-color:white;
border-width: 5px;
border-style:solid;
border-radius: 10px;
}
#project2{
text-align:center;
margin: 10px;
padding: 5px;
border-color:white;
border-width: 5px;
border-style:solid;
border-radius: 10px;
}
#project3{
text-align:center;
margin: 10px;
padding: 5px;
border-color:white;
border-width: 5px;
border-style:solid;
border-radius: 10px;
}
#project4{
text-align:center;
margin: 10px;
padding: 5px;
border-color:white;
border-width: 5px;
border-style:solid;
border-radius: 10px;
}
#project5{
text-align:center;
margin: 10px;
 padding: 5px;
border-color:white;
border-width: 5px;
border-style:solid;
border-radius: 10px;
}
#project6{
text-align:center;
margin: 10px;
padding: 5px;
border-color:white;
border-width: 5px;
border-style:solid;
border-radius: 10px;
}
.portfolio{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    grid-auto-rows: minmax(100px, auto);
}
